.page__content {
  background-color: rgb(227, 224, 224);
}

.nav {
  background-color: darksalmon;
  align-items: center;
  display: flex;
}

.title {
  font-style: bold;
  font-size: 30px;
  color: white;

}

.marquee {
  margin-right: 2px;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 14rem;
  height: 29rem;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 45px;
}

.card-title {
  font-size: large;
  font-style: oblique;
  font-weight: 600;
}

.button {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

}


.fitness {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#contact-fitness {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

#contact-fitness #fitness-header {
  background-color: cadetblue;
  padding: 10px;
  text-align: center;
}

#contact-fitness #fitness-body {
  padding: 20px;
}

#contact-fitness input[type="text"],
#contact-fitness input[type="date"],
#contact-fitness input[type="number"],
#contact-fitness select,

#contact-fitness textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
}

#contact-fitness label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}